body{
    background-color:gray;
}
.main{
    background-color: azure;
}
.circle {
    height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.go {
    background-color: blanchedalmond;
}
.numbers {
background-color: aqua;
}
.li{
    block-sizing: 30px
    padding-block: 10px 20px;
    writing-mode: horizontal-tb;
    /*padding: 10px solid black;*/
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
.reset{
    background-color: red;
}
.hint {
    background-color: yellow;
}
